section {
    display: block;
}
main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 10px;
}

.def-width {
    max-width: 1140px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.show-in-mob {
    display: none;
}

.show-in-tab {
    display: none;
}

.with-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.near-sidebar {
    -webkit-box-flex: 8;
    -ms-flex-positive: 8;
    flex-grow: 8;
    max-width: 770px;
}

.title {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

.text-cont__text>h1,
.text-cont__text>h2,
.text-cont__text>h3,
.text-cont__text>h4,
.text-cont__text>h5 {
    margin-bottom: 8px;
}

.text-cont__text>p,
.text-cont__text>ul {
    margin-bottom: 24px;
}


#order-form-third label {
    margin-bottom: 5px;
}

.modal-file-upload {
    line-height: 1.26em;
}

.order-cont__text {
    line-height: 1.26;
}

.order-cont__text th {
    vertical-align: middle;
}

.order-cont__text small {
    font-size: 11.2px;
    line-height: 16px;
    color: #333;
}

#order-form-third .form-select-field select {
    font-weight: 400;
}

#order-form-third strong {
    color: #333;
}